.safe-section {
  min-height: 550px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(34, 34, 34, 0.17)),
      to(#222)
    ),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fb3a6948e1f05b20527f_nathan-dumlao-pLoMDKtl-JY-unsplash.jpg");
  background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.17), #222),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fb3a6948e1f05b20527f_nathan-dumlao-pLoMDKtl-JY-unsplash.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.safe-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.safe-heading {
  width: 45%;
  color: #f9f9f9;
  font-size: 45px;
  line-height: 1.2;
  text-align: right;
}

.safe-paragraph {
  width: 35%;
  margin-bottom: 25px;
  color: #f9f9f9;
  font-size: 18px;
  text-align: right;
}
.btn.light {
  border-color: #f9f9f9;
  background-color: #f9f9f9;
  color: #222;
}
.btn.light.hero {
  margin-right: 10px;
}
